<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="card" style="width: 40%;margin:5%;" align="center">
            <div class="form-group row">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                  <input v-model="items[0].nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
                <label for="cantidad" class="col-sm-2 col-form-label">Cantidad</label>
                <div class="col-sm-10">
                  <input v-model="items[0].cantidad" type="number" class="form-control" id="cantidad" placeholder="Cantidad">
                </div>       
                <label for="precio" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                  <input v-model="items[0].precio" type="number" class="form-control" id="precio" placeholder="Precio">
                </div>
                <div class="col-sm-6" style="margin-left: 1%;margin-top: 3%;">
                    <button @click="addItem(items)" type="button" class="btn btn-primary">Add Item</button>
                </div>
            </div>
        </div>
    <div class="card" style="width: 90%;margin:5%;" align="center">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-md-2 active">Nombre</li>
            <li class="list-group-item col-md-2 active">Cantidad</li>
            <li class="list-group-item col-md-2 active">Precio</li>
            <li class="list-group-item col-md-2 active">Total</li>
        </ul>
        <tr-factura v-for="fact in factura" :fact="fact" ></tr-factura>
        <ul class="list-group list-group-horizontal">
                <li class="list-group-item col-md-6">IVA %19)</li>
                <li class="list-group-item col-md-2" >{{iva}}</li>
        </ul>
        <ul class="list-group list-group-horizontal">
                <li class="list-group-item col-md-6">TOTAL</li>
                <li class="list-group-item col-md-2" >{{total}}</li>
        </ul>  
    </div>
            
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>